<h3>{{title}}</h3>
<div class="well">
  <form  class="form-horizontal" name='playlistForm' ng-submit="create(name)">
    <fieldset>
      <legend>New Playlist</legend>
      <div class="form-group">
        <label class="col-xs-2 control-label">Name</label>
        <div class="col-xs-10">
          <input name="playlistInput" ng-maxlength='16' ng-model='name' class="form-control" type="text" required>
          <div ng-messages="playlistForm.$error" role="alert">
          <div ng-message="required">Please enter a value for this field.</div>
          <div ng-message="maxlength">This field can be at most 16 characters long.</div>
        </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">
          <button ng-disabled="playlistForm.$invalid && playlistForm.playlistInput.$dirty" type="submit" class="btn btn-success">Create Playlist</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<!-- 
ng-submit="create(name); playlistForm.$setPristine()" -->