<div>
  <h3>{{ playlist.name }}</h3>
  <div class="container">
  <form name="songsForm" ng-submit="add(playlist.id, selected)" class="form-horizontal">
    <label>Add to Playlist</label>
    <div class="form-group">
    <label>Song</label>
    <select ng-options="song as song.name for song in songs | orderBy:'name'" ng-model="selected" class="form-control">
    </select>
    </div>
    <button  type="submit" ng-disabled="!selected" class="btn btn-primary btn-block">Add Song</button>
  </form>  
  </div>   
  <table class='table' ng-show="playlist.songs.length">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Artists</th>
        <th>Genres</th>
      </tr>
    </thead>
    <!-- <tbody ui-sortable="sortableOptions" ng-model="playlist.songs"> -->
    <tbody>
      <tr ng-repeat="song in playlist.songs" ng-class="{active: song === getCurrentSong() }">
        <td>
          <button class="btn btn-default btn-xs" ng-click="toggle(song)">
            <span class="glyphicon" ng-class="{ 'glyphicon-pause': isPlaying(song), 'glyphicon-play': !isPlaying(song) }"></span>
          </button>
        </td>
        <td>{{ song.name }}</td>
        <td><span ng-repeat="artist in song.artists">{{ artist.name }}{{ $last ? '' : ', ' }}</span></td>
        <td>{{ song.genres.join(', ') }} </td>
        <td><button ng-click="remove(playlist.id, song)" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-remove"></span>
          </button></td>
      </tr>
    </tbody>
  </table>
  <small ng-hide="playlist.songs.length">No songs.</small>
  <hr>
</div>